@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s all;
}
body {
  font-family: "Roboto", sans-serif;
}
/* layout  styles */
#content {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}
.header {
  grid-area: 1/1/2/3;
  padding: 1rem;
  font-size: 2rem;
  background-color: #2d3142;
  color: white;
}
.sidebar {
  background-color: #7d7f8b;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar .project-item {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #2d314262;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.project-item.active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project-item:hover:not(.active) {
  opacity: 0.8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sidebar .list-add {
  color: white;
  margin: 0;
  padding-inline: 0;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lists-container {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  max-width: calc(100vw - 350px);
  gap: 5rem;
  padding: 2rem;
}
.lists-container h2 {
  display: flex;
  justify-content: space-between;
}
.sidebar h2 {
  font-size: 2.5rem;
  color: white;
}
.sidebar h3 {
  font-size: 2rem;
  color: white;
}
.main-wrapper {
  padding: 1rem;
}
.list {
  background-color: #ebecf0;
  width: 300px;
  padding: 1rem;
  flex-shrink: 0;
}
.item-container {
  overflow-y: auto;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 2rem;
}
.list-item {
  padding: 1rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list-item:hover {
  background-color: #ebecf0;
  cursor: pointer;
}

.list-add {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-block-start: 1rem;
}
.list-add:hover {
  background-color: #091e4214;
  cursor: pointer;
}
.list-add-action {
  display: none;
}

textarea {
  margin-block-start: 1rem;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-block-end: 1rem;
}
button {
  border: none;
  border-radius: 4px;
  background-color: #026aa7;
  cursor: pointer;
  color: white;
  padding: 1rem;
  padding-block: 0.5rem;
}

button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  opacity: 0.8;
}
svg {
  cursor: pointer;
}
svg:hover {
  opacity: 0.8;
}
.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.add-list {
  background-color: #2d3142;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 300px;
  padding: 0.8rem;
  opacity: 0.5;
  cursor: pointer;
}
.add-list:hover {
  opacity: 0.9;
}
.add-list-action {
  width: 300px;
  padding: 1rem;
  display: none;
  border: 1px solid #2d3142;
}
